/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
}

.container {
  padding: 1em;
}

p {
  margin: 0;
}

/* header styles */
.main-header h1 {
  text-transform: uppercase;
  background: #333e49;
  color: white;
  margin: 0;
  font-size: 1.3em;
  padding: 25px 25px;
}

.main-header h2 {
  color: #333e49;
  margin-bottom: 7px;
  margin-top: 25px;
  font-size: 1.2em;
}

.main-header p {
  margin-bottom: 30px;
  color: #b0b0b0;
  font-size: 0.9em;
}

.main-header {
  text-align: center;
}

.hr-upper {
  height: 4px;
  border: none;
  background-color: #333e49;
  margin-bottom: 3px;
}

.hr-lower {
  height: 2px;
  border: none;
  background-color: #333e49;
  margin-top: 0px;
}

/* main content */
main h3 {
  color: #333e49;
  font-size: 1.25em;
}

/* global form */
input[type="text"],
input[type="number"],
input[type="email"],
select {
  background-color: rgb(240, 240, 240);
  border: none;
  height: 50px;
  border-radius: 3%;
  margin-top: 10px;
  margin-bottom: 10px;
}

label {
  color: rgb(121, 132, 143);
  font-size: 0.9em;
}

/* upper form */
select:focus,
input:focus,
textarea:focus {
  outline-color: #333e49;
}

::placeholder {
  margin-right: 20px;
  text-align: right;
  font-style: italic;
  font-weight: 400;
  font-family: "Merriweather", serif;
  font-size: 12px;
  color: #b0b0b0;
}

main hr {
  height: 2px;
  border: none;
  background-color: #333e49;
  margin-top: 30px;
}

select {
  color: #b0b0b0;
  padding-left: 10px;
  font-weight: 600;
}

/* lower form */
.lower-form {
  text-align: left;
}

.title {
  color: rgb(121, 132, 143);
  font-size: 0.8em;
  margin-bottom: 10px;
  margin-top: 0;
}

.format {
  margin-top: 15px;
  margin-bottom: 8px;
}

input[type="checkbox"] {
  text-align: left;
  margin: 0;
}

.lower-form label {
  margin: 10px;
  display: inline-block;
}

input[type="radio"] {
  margin: 0;
}

.topics {
  margin-top: 25px;
  margin-bottom: 15px;
}

#topics {
  background-color: rgb(240, 240, 240);
  border: none;
  width: 100%;
  border-radius: 3%;
}

input[type="button"] {
  background: #50bcb6;
  border: none;
  color: white;
  width: 100%;
  border-radius: 3%;
  margin-top: 30px;
  height: 50px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 18px;
}

.Copyright {
  font-size: 0.8em;
  color: #b0b0b0;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15em;
}

/* flex box */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-row input,
.flex-row select {
  flex-basis: 100%;
}

.flex-row label {
  align-self: center;
}

/* flexbox for zipcode input */
.flex-row-zip-code {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 10em;
  }

  /* flex box */
  .flex-row {
    flex-direction: row;
  }

  .flex-row input,
  .flex-row select {
    flex: 70%;
  }

  .flex-row label {
    align-self: center;
    flex: 30%;
  }

  .flex-row input[id="zip-code"] {
    width: 70%;
  }

  .flex-row-zip-code label {
    width: 30%;
    align-self: center;
  }
  .flex-row-zip-code {
    width: 100%;
    flex-direction: row;
  }
}
