/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Merriweather", serif;
}

.container {
  padding: 0px 16px;
}

p {
  margin: 0;
}

/* header styles */
.main-header h1 {
  text-transform: uppercase;
  background: #333e49;
  color: white;
  margin: 0;
  font-size: 1.3em;
  padding: 25px 25px;
}

.main-header h2 {
  color: #333e49;
  margin-bottom: 7px;
  margin-top: 25px;
  font-size: 1.2em;
}

.main-header p {
  margin-bottom: 30px;
  color: #b0b0b0;
  font-size: 0.9em;
}

.main-header {
  text-align: center;
}

.hr-upper {
  height: 4px;
  border: none;
  background-color: #333e49;
  margin-bottom: 3px;
}

.hr-lower {
  height: 2px;
  border: none;
  background-color: #333e49;
  margin-top: 0px;
}

/* main content */
main h3 {
  color: #333e49;
  font-size: 1.25em;
}
